body {
   min-height: 100vh;
   background: linear-gradient(-135deg, #c850c0, #4158d0);
}
#error {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   width: min-content;
   height: min-content;
   margin: auto;
   margin-top: 30px;
   padding: 20px 60px 20px 50px;
   border-radius: 20px;
   background-color: white;
   box-shadow: 0 0 30px 2px rgba(255, 0, 0, 1);
   font-family: 'Poppins', sans-serif;
   white-space: nowrap;
   color: rgba(220, 20, 60, 0.7);
   transform: scale(1);
   transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
#error.clear {
   opacity: 0;
}
#error:hover {
   transform: scale(1.1);
}
.registration {
   display: flex;
   flex-direction: column;
   align-items: center;
}
#form {
   margin-top: 150px;
   padding: 5px 50px 20px 50px;
   background-color: white;
   border-radius: 20px;
   box-shadow: 0 0 30px 2px #1a1a1a;
   font-family: 'Poppins', sans-serif;
}
h1 {
   font-size: 27px;
   color: #333333;
   line-height: 1.2;
   text-align: center;
}
.data {
   position: relative;
}
.ico {
   position: absolute;
   top: 13px;
   left: 35px;
   font-size: 25px !important;
   color: #666666 !important;
   transition: all 0.5s ease-in-out;
}
.warn {
   position: absolute;
   top: 13px;
   left: 300px;
   font-size: 25px !important;
   color: rgba(255, 0, 102, 0.75) !important;
}
.field:focus + .ico {
   left: 25px;
   color: rgba(87, 184, 70, 0.8) !important;
   animation: anim-scale 0.5s ease-in-out forwards;
}
.field {
   display: flex;
   align-items: center;
   height: 50px;
   margin-top: 20px;
   padding: 0 30px 0 68px;
   border-radius: 25px;
   background: #e6e6e6;
   color: #666666;
   font-size: 15px;
   line-height: 1.5;
   outline: none;
   border: none;
   box-shadow: 0px 0px 0px 0px rgba(87, 184, 70, 0.8);
   transition: box-shadow 0.5s ease-in-out;
}
.mainRole {
   cursor: pointer;
   -webkit-user-select: none;
}
.roles {
   position: absolute;
   top: 20px;
   left: 200px;
   display: flex;
   flex-direction: column;
   box-shadow: 0 0 30px -2px #1a1a1a;
   border-radius: 20px;
   overflow: hidden;
   visibility: hidden;
   opacity: 0;
   transition: all 0.4s ease-in-out;
}
.roles.active {
   visibility: visible;
   opacity: 1;
}
.role-container {
   position: relative;
}
.role-container .filter {
   position: absolute;
   width: 100%;
   height: 100%;
   left: 100%;
   background-color: rgba(87, 184, 70, 0.25);
   transition: all 0.15s 0.1s ease-in;
}
.radio-role:checked + .filter {
   background-color: rgba(87, 184, 70, 0.25) !important;
   left: 0;
}
.role-container:hover .filter {
   background-color: rgba(87, 184, 70, 0.12);
   left: 0;
}
.radio-role {
   display: none;
}
.role {
   display: flex;
   align-items: center;
   height: 30px;
   width: 100px;
   padding: 0 30px;
   background: #e6e6e6;
   color: #666666;
   font-size: 15px;
   line-height: 1.5;
   outline: none;
   transition: background-color 0.5s ease-in-out;
   cursor: pointer;
}
.role-container:not(:last-child) .role {
   border-bottom: 1px solid rgb(87, 184, 70);
}
.field:focus {
   animation: anim-shadow 0.5s ease-in-out, anim-scale 0.5s ease-in-out;
   box-shadow: 2px 5px 10px -3px rgba(87, 184, 70, 0.8);
}
.field.error:focus {
   box-shadow: 2px 5px 10px -3px rgba(87, 184, 70, 0.8);
}

@keyframes anim-scale {
   50% {
      transform: scale(1.1);
   }
   to {
      transform: scale(1.05);
   }
}

@keyframes anim-shadow {
   60% {
      box-shadow: 0px 0px 70px 25px rgba(87, 184, 70, 0);
   }
   61% {
      box-shadow: 0px 0px 0 0 rgba(87, 184, 70, 0.8);
   }
   to {
      box-shadow: 2px 5px 10px -3px rgba(87, 184, 70, 0.8);
   }
}
