<link rel="stylesheet" type="text/css" href="/auth/styles/index.css" />
<link rel="stylesheet" type="text/css" href="/signControl/index.css" />
<link href="https://fonts.googleapis.com/css?family=Montserrat|Poppins&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
{{#if error}}
<div id="error">
   Incorrect login or password
</div>
{{/if}}
<div class="authorization">
   <form action="/authorization" method="POST" id="form">
      <h1>Authorization</h1>
      <div class="data">
         <input id="login" class='field' type="text" name="login" placeholder="Login" />
         <i class="fa fa-sign-in ico"></i>
      </div>
      <div class="data">
         <input id="password" class='field' type="password" name="password" placeholder="Password" />
         <i class="fa fa-lock ico"></i>
      </div>
      <div class="signControl">
         <button id="sign-in" class="sign main" type="submit">sign in</button>
         <p class='sign-separator'>or</p>
         <a href="/registration"><button id="sign-up" class="sign" type="button">sign up</button></a>
      </div>
   </form>
</div>